    <!-- Footer-->
    <footer class="bg-light text-center py-5 mt-auto">
        <div class="container">
            <div class="text-dark small">
                <div class="mb-2">&copy; NodePop 2023. Todos los derechos reservados.</div>
                <a href="#!">Privacidad</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">Términos</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">FAQ</a>
            </div>
        </div>
    </footer>        
    <!-- Bootstrap core JS-->
    <!-- No olvides incluir el JS de Bootstrap, ya sea localmente o desde un CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <!-- Asegúrate de que la ruta a tu scripts.js sea correcta -->
    <script src="js/scripts.js"></script>
</body>
</html>